*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1{
    font-size: 2rem;
    color: #fefefe;
    margin: 0 140px;
    margin-top: 0;
}

#loginForm{
    display: block;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50%;
    background-color: #333;
}

.left{
    float: left;
    width: 50%;
    height: 100%;
    padding: 80px 30px;
    font-size: 50px;
}

.right{
    float: right;
    width: 50%;
    height: 100%;
}

.input-login{
    margin: 50px 0px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    position: relative;
    --primary: #2196f3;
}

.input{
    all: unset;
    width: 90%;
    color: #fefefe;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.label{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus{
    border: 1px solid var(--primary);
}

.input:is(:focus, :valid) ~ label{
    transform:
        translateY(-120%)
        scale(0.7);
    background-color: #1a1a1a;
    padding-inline: 0.3rem;
    color: var(--primary);
}

.btn-login{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.btn-login:hover{
    cursor: pointer;
    background-color: #1a1a1a;
    border: 1px solid #fefefe;
    color: #fefefe;
}

.more{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.more a{
    color: #fefefe;
    text-decoration: none;
    font-size: 14px;
}

.more a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.more p{
    color: #d4d4d4;
    font-size: 14px;
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#registerForm{
    display: none;
    background-color: #333;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width:60%;
    background-color: #333;
}

.left-regis{
    float: left;
    width: 50%;
    height: 100%;
    font-size: 50px;
}

.right-legis{
    float: left;
    width: 50%;
    height: 100%;
    padding: 80px 30px;
    font-size: 50px;
}

.left-regis img{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}